body {
  background: #000000;
  color: #C0FFFF;
  background-position: center;
  max-width: 800px;
  min-width: 600px;
  margin: auto;
}

table, th, td {
  border: 2px solid #FFFFC0;
  border-collapse: collapse;
  padding: 5px;
}

.block h2 {
  width: 99%;
  color: #80FF80;
  border-bottom: 3px solid #80FF80;
  font-family: 'Courier New', monospace;
  margin: 5px; 
}

.block a:link {
  color: #8080FF;
}

.block a:visited {
  color: #FF80FF;
}

.block {
  width: 95%;
  padding: 10px;
  margin: 10px auto 10px auto;
  border-color: #804020;
  border-style: ridge; 

  background: #100800;
  background-position: center;
  image-rendering: crisp-edges;
}

table {
  background: #000000; 
}

.problems {
  background: rgba(255, 0, 0, 0.20);
}

.finished {
  background: rgba(0, 255, 0, 0.20);
}

.todo {
  background: rgba(0, 0, 255, 0.20);
}